.pokemonname{
    font-size: x-large;
    color :azure;
    margin-top: 1rem;

}
.pokemonname > span{
    letter-spacing: 0.5rem;
}
.pokemontypes{
    display: flex;
    gap:3rem;
    margin-top: 2rem;
    font-size: larger;
}
.pokemontypes>div{
    border:1px solid gainsboro;
    border-radius: 15px;
    padding:1rem;
    background-color: rgb(46, 16, 16);
}
.pokemondetails_wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    color:aliceblue
    
}
.pokemonimage{
    margin-top: 1rem;
    height: 250px;
   
}
li{
    list-style: none;
}
.samepoke p{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

.listofpoke{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}